<h1> Top lists </h1>

<h2>Weekly top list</h2>

<table class="table table-hover">
  <thead>
    <tr>
      <th>User</th>
      <th>Points</th>
    </tr>
  </thead>
  <tbody>
    <% @weeklyusers.each do |user| %>
    <tr>
      <td> <%= user.name %> </td>
      <td> <%= user.xp_total_range(Date.today.beginning_of_week) %> </td>
    </tr>
    <% end %>
  </tbody>
</table>

<h2>All time</h2>

<table class="table table-hover">
  <thead>
    <tr>
      <th>User</th>
      <th>Points</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td> <%= user.name %> </td>
      <td> <%= user.xp_total %> </td>
    </tr>
    <% end %>
  </tbody>
</table>
