<h2>Budget</h2>
<table class="table table-hover">
  <thead>
    <tr>
      <th>
        User
      </th>
      <th>
        Spent
      </th>
      <th>
        Differential
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        Test
      </td>
      <td>
        123 euroa
      </td>
      <td>
        -123 euroa
      </td>
    </tr>
  </tbody>
</table>
