<h2>Budget</h2>
<table class="table table-hover">
  <thead>
    <tr>
      <th>
        User
      </th>
      <th>
        Spent
      </th>
      <th>
        Differential
      </th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td>
        <%= user.name %>
      </td>
      <td>
        <%= user.purchase_sum %>
      </td>
        <% if (average_purchase - user.purchase_sum) > 0 %>
        <td class="td-late">
          TO PAY <%= '%.2f' % (average_purchase - user.purchase_sum) %>
        </td>
        <% else %>
        <td class="td-ontime">
        TO RECEIVE <%= '%.2f' % ((average_purchase - user.purchase_sum)*-1) %>
      </td>
        <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
