<h2>Budget</h2>
<table class="table table-hover">
  <thead>
    <tr>
      <th>
        User
      </th>
      <th>
        Spent
      </th>
      <th>
        Differential
      </th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td>
        <%= user.name %>
      </td>
      <td>
        <%= user.purchase_sum %>
      </td>
      <td>
        <%= purchase_average - user.purchase_sum %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
