<div class="col-md-10 col-centered">

<table class="table">
  <thead>
    <tr>
      <th>

      </th>
      <th>
        At
      </th>

    </tr>
  </thead>
  <tbody>
    <% @feed.each do |feed| %>

    <tr>
      <td>
        <%= link_to feed, feed.url %>
      </td>
      <td>
        <%= feed.created_at %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

</div>
