<div class="container-fluid">
  <div class="row">
    <div class="col-md-10" id="chores">
      <%= render 'chores_display' %>
    </div>

  </div>
  <div class="row">
    <div class="col-md-5" id="todos">
      <h2>Todos due in 5 days</h2>
      <%= render 'todos/list', todos:@todos %>
    </div>
    <div class="col-sm-5 col-md-5 col-lg-5" id="budget">
      <%= render 'budget_display'%>
    </div>
  </div>
  <div class="row">

  </div>
</div>
