<div class="container-fluid">
  <div class="row">
    <div class="col-md-10" id="chores">
      <%= render 'chores_display' %>
    </div>

  </div>
  <div class="row">
    <div class="col-md-5" id="todos">
      <h2>Todos due in 5 days</h2>
      <%= render 'todos/list', todos:@todos %>
    </div>
    <div class="col-sm-5 col-md-5 col-lg-5" id="budget">
      <%= render 'budget_display'%>
    </div>
  </div>
  <div class="row">

    <div class="col-md-10 hidden-xs">
      <h2>KommuuniKalenteri</h2>
      <iframe src="https://calendar.google.com/calendar/embed?title=KommuuniKalenteri&amp;showTitle=0&amp;height=300&amp;wkst=2&amp;bgcolor=%23ff0000&amp;src=kolhoosinuoret%40gmail.com&amp;color=%23B1440E&amp;ctz=Europe%2FHelsinki" style="border:solid 1px #777" width="600" height="300" frameborder="0" scrolling="no"></iframe>
    </div>
    <div class="col-md-5 visible-xs">
      <h2>KommuuniKalenteri</h2>
      <iframe src="https://calendar.google.com/calendar/embed?title=KommuuniKalenteri&amp;showTitle=0&amp;height=300&amp;wkst=2&amp;bgcolor=%23ff0000&amp;src=kolhoosinuoret%40gmail.com&amp;color=%23B1440E&amp;ctz=Europe%2FHelsinki" style="border:solid 1px #777" width="300" height="300" frameborder="0" scrolling="no"></iframe>
    </div>

  </div>
</div>
