<h1> Purchases list </h1><br />

      <%= render 'selection_menu', categories: @categories, users:@users %>




<%= render 'list', purchases: @purchases %>

<%= will_paginate @purchases, renderer: BootstrapPagination::Rails %>
