<h1>Editing Chore</h1>

<%= render 'form' %>


<% if @chore.private && current_user.id == @chore.creator_id %>
<%= link_to 'Make public', publishchore_path(@chore), class:"btn btn-danger",method: :post, data: {confirm: 'Are you sure you want to make the chore public? This cant be undone.'} %>
<% end %>
<%= link_to 'Show', @chore %> |
<%= link_to 'Back', chores_path %>
