<%# add navigation links to this file %>
<% if current_user %>
<li>
  <%= link_to 'Chores', chores_path %>
</li>
<li>
  <%= link_to 'Purchases', purchases_path %>
</li>
<li>
  <%= link_to 'New Purchase', new_purchase_path %>
</li>
<li>
<%= link_to 'logout', signout_url, method: :delete %>
</li>
<% end %>
